.projects h2 {
  margin-bottom: 1rem;
}
.cards-container {
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr;
  padding-inline: 2rem;
  padding-bottom: 2rem;
}

.card {
  will-change: transform, opacity;
  padding: 0.5rem 1rem;
  height: 15rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 20px;
  box-shadow: 1rem 1.5rem 1rem #00c2cb;
  font-size: var(--secondary-text-size);
}

.card img {
  max-width: 150px;
  height: 100px;
  transition: transform 1s ease-out;
}

.card img:hover {
  transform: scale(1.5);
}

.skills {
  margin-top: 5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .card {
    transition: transform 1s ease-out, opacity 0.6s ease-out;
    transform: scale(0.8) translateX(20vw);
    opacity: 0;
  }
  .card.show {
    transform: scale(1) translate(0);
    opacity: 1;
  }

  @media (max-width: 500px) {
    .card {
      transform: scale(0.8) translatey(50vw);
    }
  }
}

@media (max-width: 500px) {
  .cards-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .card img {
    max-width: 80px;
    object-fit: contain;
  }
  .card {
    height: 12rem;
    padding: 0.5rem;
    box-shadow: 0.5rem 1rem 0.5rem #00c2cb;
  }
}

@media (max-width: 320px) {
  .card {
    padding: 0;
  }
}
