:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  --sections-padding: 1rem;
  --heading-font-size: 50px;
  --primary-text-size: 18px;
  --secondary-text-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

main,
footer {
  padding: var(--sections-padding);
}
a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  min-height: 100vh;
  background-color: #f0f0f0;
  display: flex;
  place-content: center;
  font-size: var(--primary-text-size);
}

#root {
  width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.icons-container {
  display: flex;
  gap: 1rem;
}

.icons-container a > img {
  width: 45px;
  height: auto;
  margin-top: 1rem;
}

.card .icons-container a > img {
  width: 30px;
}
@media (max-width: 500px) {
  :root {
    --primary-text-size: 16px;
    --secondary-text-size: 14px;
    --heading-font-size: 35px;
  }
}
